.content {
  margin-top: 20px;

  &__edit_icon {
    width: 22px;
    fill: $primaryColor;
    margin: 0 4px -4px 0;
  }

  &__user_name {
    color: $primaryColor;
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 20px;
  }

  &__user_email {
    margin-top: 8px;
  }

  &__user_about {
    margin-top: 32px;
  }

  &__user_about_text {
    line-height: 1.5rem;
    margin-top: 12px;
  }

  &__articles {
    margin-top: 40px;
  }

  &__articles_heading {
    color: $primaryColor;
  }

  &__list_loading_div {
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logout_button {
    background-color: $red;
    color: white;
    padding: 8px 20px;
    margin-top: 36px;
  }
}
