.content {
  margin-top: 20px;

  &__user_name {
    color: $primaryColor;
    font-size: 1.75rem;
    margin-top: 20px;
  }

  &__user_email {
    margin-top: 8px;
  }

  &__user_about {
    margin-top: 32px;
  }

  &__user_about_text {
    margin-top: 12px;
  }

  &__my_articles {
    margin-top: 40px;
  }

  &__my_articles_heading {
    color: $primaryColor;
  }

  &__list_loading_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }

  &__logout_button {
    background-color: $red;
    color: white;
    padding: 8px 20px;
    margin-top: 36px;
  }
}
