@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700;900&display=swap");

@import "./normalize.scss";
@import "./nprogress.scss";
@import "./multi-carousel.scss";

#__next {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  color: unset;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;

  @include breakpoint(laptop-small) {
    max-width: unset;
    margin: 0;
    padding: 0 28px;
  }

  @include breakpoint(phone-large) {
    padding: 0 20px;
  }
}

.container_small {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;

  @include breakpoint(tablet) {
    max-width: unset;
    margin: 0;
    padding: 0 28px;
  }

  @include breakpoint(phone-large) {
    padding: 0 20px;
  }
}

.page_title {
  font-size: 2.125rem;
  color: $primaryColor;
  text-align: center;

  @include breakpoint(tablet) {
    font-size: 2rem;
  }
}

.loading_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
}

.error_div {
  width: 100%;
  background-color: rgba($red, 0.05);
  color: $red;
  border: 1px solid $red;
  padding: 10px 12px;
}

.success_div {
  width: 100%;
  background-color: rgba($green, 0.05);
  color: $green;
  border: 1px solid $green;
  padding: 10px 12px;
}

.flex_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.text_align_center {
  text-align: center;
}

.color_primary {
  color: $primaryColor;
}

.color_green {
  color: $green;
}
