.title {
  color: $primaryColor;
  margin-top: 36px;
}

.user_email {
  margin-top: 20px;
}

.user_about {
  margin-top: 20px;

  &__heading {
    color: $primaryColor;
  }

  &__text {
    margin-top: 12px;
  }
}

.articles_div {
  margin-top: 40px;

  &__heading {
    color: $primaryColor;
  }

  &__loading_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }
}
