.content {
  margin-top: 28px;

  &__save_button {
    background: none;
    color: $primaryColor;
  }

  &__save_button:hover {
    opacity: 0.6;
  }

  &__title {
    color: $primaryColor;
    word-break: break-word;
    white-space: pre-wrap;
  }

  &__user {
    margin-top: 20px;

    a {
      color: $primaryColor;
    }
  }

  &__dates {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 10px;
  }

  &__body {
    line-height: 2em;
    font-family: "Roboto Slab", serif;
    word-break: break-word;
    white-space: pre-wrap;
    margin-top: 28px;

    p {
      font-size: 1.25em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $primaryColor;
      font-family: "Roboto", sans-serif;
    }

    ul {
      list-style-type: disc;
      padding: 1em 2.5em;
    }

    blockquote {
      padding: 1rem 2.5rem;
    }
  }

  &__body_hide_gradient {
    position: relative;
    height: 250px;
    background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5),
      rgb(255, 255, 255)
    );
    margin-top: -240px;
  }

  &__continue_reading_button {
    background: none;
    color: $primaryColor;
    font-size: 1.25rem;
    margin-top: 40px;
  }
}
