.form {
  max-width: 350px;
  width: 100%;
  margin: 40px auto 0;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__text_input {
    width: 100%;
    border: $border;
    padding: 10px 12px;
  }

  &__submit_button {
    padding: 11px 30px;
    background: $primaryColor;
    color: white;
  }
}
