.form {
  max-width: 350px;
  width: 100%;
  margin: 50px auto 0;

  &__loading_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__text_input {
    width: 100%;
    border: 1px solid rgba($color: black, $alpha: 0.1);
    padding: 10px 12px;
  }

  &__submit_button {
    padding: 11px 30px;
    background: $primaryColor;
    color: white;
  }
}
