.cancel_link_div {
  margin-top: 20px;

  a {
    color: $red;
  }
}

.form {
  margin-top: 20px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  li {
    width: 100%;
  }

  input {
    width: 100%;
    border: $border;
    padding: 10px 12px;
  }

  &__label_text {
    color: $primaryColor;
    margin-bottom: 8px;
  }

  &__submit_button {
    background: $primaryColor;
    color: white;
    padding: 12px 28px;
  }
}
