.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  overflow: auto;
  background: white;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.05);
  z-index: 99999;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__logo_text {
    color: $primaryColor;
    font-size: 1.75rem;
    font-weight: bold;

    @include breakpoint(phone-large) {
      display: none;
    }
  }

  &__nav_list {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 1.125rem;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__hamburger {
    display: none;

    @include breakpoint(tablet) {
      display: flex;
      align-items: center;
    }
  }

  &__hamburger_menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background: white;
    transition: 0.3s;
    overflow-y: scroll;
    touch-action: pan-y;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.05);
    padding: 140px 0 160px;

    @include breakpoint(tablet) {
      display: block;
    }

    .header__nav_list {
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      margin-top: 36px;
    }
  }

  &__hamburger_menu_open {
    width: 100vw;
  }
}
