.header {
  background-color: white;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.05);

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
  }

  &__logo {
    font-size: 2rem;
    font-weight: bold;
    color: $primaryColor;
  }

  &__nav_list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
