.list {
  margin-top: 40px;

  &__loading_div {
    display: grid;
    place-items: center;
    padding: 50px 0;
  }

  &__top_settings_div {
    display: flex;
    justify-content: space-between;

    @include breakpoint(tablet-large) {
      justify-content: center;
    }
  }

  &__limit_buttons {
    display: flex;
    align-items: center;
    gap: 10px;

    ul {
      display: flex;
      gap: 8px;
    }
  }

  &__limit_button {
    width: 40px;
    height: 40px;
    background: none;
    color: $primaryColor;
    border-radius: 50%;
    padding: 10px;
  }

  &__limit_button_active {
    @extend .list__limit_button;
    background: $primaryColor;
    color: white;
  }

  &__showing_matches_p {
    padding-left: 2px;
    margin-top: 20px;
  }

  &__clear_filter_icon {
    width: 20px;
    fill: $red;
    cursor: pointer;
    margin: 0 0 -4px 4px;
  }

  &__show_more {
    display: none;
    justify-content: center;
    margin-top: 40px;

    @include breakpoint(tablet-small) {
      display: flex;
    }

    button {
      background: $primaryColor;
      color: white;
      padding: 12px 28px;
    }
  }

  &__show_more_loading_div {
    display: grid;
    place-items: center;
    padding: 20px 0;
  }
}
