.footer {
  padding: 60px 0 70px;
  border-top: $border;
  margin-top: auto;

  &__read_text {
    font-size: 1.75rem;
    color: $primaryColor;
    font-weight: bold;
  }

  &__text {
    color: $primaryColor;
    margin-top: 10px;
  }
}
