.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;
  margin-top: 40px;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include breakpoint(phone-large) {
    grid-template-columns: minmax(0, 1fr);
  }

  &__item {
    min-height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: $border;
    padding: 16px 20px;
  }

  &__user_name {
    font-size: 1.5em;
    word-break: break-word;
  }

  &__user_name:hover {
    opacity: 0.6;
  }

  &__user_email {
    color: $primaryColor;
    word-break: break-all;
    margin-top: 4px;
  }

  &__user_about {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 8px;
  }

  &__see_user_div {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;

    a {
      color: $primaryColor;
    }
  }
}
