.nothing_was_found_p {
  text-align: center;
  margin-top: 40px;
}

.carousel_list {
  margin-top: 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px;
  margin-top: 24px;

  @include breakpoint(tablet-large) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }

  @include breakpoint(tablet-small) {
    grid-template-columns: minmax(0, 1fr);
  }

  &__article {
    height: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: $border;
    box-shadow: 1px 3px 8px 0 rgba($color: black, $alpha: 0.1);
    padding: 16px 20px;
  }

  &__article_title {
    font-size: 1.5rem;
    word-break: break-word;
    white-space: pre-wrap;
  }

  &__article_title:hover {
    opacity: 0.6;
  }

  &__article_body {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
  }

  &__article_user {
    word-break: break-all;
    margin-top: 10px;

    a {
      color: $primaryColor;
    }
  }

  &__article_date {
    margin-top: 4px;
  }

  &__read_link_div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    a {
      color: $primaryColor;
      user-select: none;
      margin-top: 12px;
    }
  }
}
