.list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  li {
    user-select: none;
  }

  &__arrow_icon {
    height: 14px;
    fill: black;
    margin-bottom: -1px;
  }
}
